
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /sw/api/

    # http to https redirection
    # RewriteCond %{HTTPS}% off
    # RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteRule ^assets/(.*)$ public/$1 [L,QSA]
    RewriteRule ^(.*)$ ./public/$1 [L]
</IfModule>

<IfModule mod_headers.c> 
    Header set Cache-Control "no-cache, no-store, must-revalidate" 	
	Header set Pragma "no-cache" 	
	Header set Expires 0 
</IfModule>



